{% extends "base_blog.html" %}

{% load i18n %}
{% load staticfiles %}

{% block blog_content %}
<section id="blogindex">
  <div class="container">
  <div class="row">
    <div class="col-md-9">
      {% if posts %}
      {% for post in posts %}
      <div class="row">
	<div class="col-md-11 col-md-offset-1">
	  <p>
	    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
	  </p>
	  <p class="date">
	    {{ post.pub_date|date:"D d.m.Y" }}
	  </p>
	  <p>
	    {{ post.body|truncatechars:100|safe }}
	  </p>
	  <p>
	    <a href="{{ post.get_absolute_url }}">read on...</a>
	  </p>
	</div>
      </div>
      {% endfor %}
      
      {% else %}
      <div class="row">
	<div class="col-md-9 col-md-offset-1">
	  <p> There are no posts yet.</p>
	</div>
      </div> 
      {% endif %}
    </div>
   <div class="col-md-3">
     <div class="latest-posts">
       <div class="row"></div>
       <div class="text-center"><h3>Latest posts</h3></div>
       <ul>
	 {% if posts %}
	 {% for post in posts %}
	 <li><h5><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:20}}</a></h5></li>
	 {% endfor %}      
	 {% else %}
	 <p> There are no posts yet.</p>
	 {% endif %}
       </ul>
       <div class="row"></div>
     </div>
   </div><!-- latest-posts !-->
  </div>
</div>
</section>
{% endblock blog_content %}
