{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
BuyAware - Blog
{% endblock %}

{% block styling %}
<link href="{% static "blog/blog.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<header>
  {% block blog_header %}
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="pagetitle">
        <h1>Blog</h1>
      </div>
      <hr class="check-light">
    </div>
  </div>
</div>
  {% endblock blog_header %}
</header>

{% block blog_content %}
{% endblock blog_content %}

{% endblock%}
