{% extends "about/about_detail.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
BuyAware - About what drives us
{% endblock %}

{% block detail_title %}{% trans "What drives us" %}{% endblock %}

{% block detail_text %}
{% blocktrans %}
<p>
  We live in times of unrestricted mass consumption. Nowadays, it is possible for people to buy anything, at any time, from any place and get it delivered to our doorstep. Shoes from Thailand, coffee from Brazil or a mobile phone from China, the choice is endless. Even though globalisation has undoubtedly led to many advantages, we also face some severe problems nowadays which were created by this process: for example climate change; depletion of resources and pollution of the environment.
</p>
<p>
 Additionally, global market access has led to depersonalisation. In other words: We do not really know what it is we are about to buy eg. if the product is of high quality or if it might still contain some toxic substances. In the food and clothing industries several organisations have made attempts to counteract this development by introducing informative labels like Organic, Fairtrade, FSC, etc. So far these have only had limited success. One criticism that consumers often raise regarding labelling is that too many labels already exist, which cause confusion.
</p>
<p>
A sector that has been mostly unlabelled so far is the electronics industry. In our opinion this is because electronic devices are a lot more complex than for example a banana or a t-shirt. Therefore, one has to take more factors into account when assessing these products. For us at BuyAware, this is not a legitimate reason to give up. In fact, the exact opposite is the case: We believe that exactly in areas where the degree of complexity is high, it is necessary to inform the consumer about the background of the products. Also, we try to learn from the mistakes which have been made in other industries in the past. That is why it is our goal to make complete assessments which take all relevant factors into account and are then presented in a simple format. It should be possible to view all relevant information at a glance. 
</p>
<p>
We believe that the time has come to confront unrestricted mass consumption in a critical manner. Make your contribution to the global turnaround by supporting BuyAware!
</p>
{% endblocktrans %}
{% endblock %}
