{% extends "about_vision.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
BuyAware - About our assessement methods
{% endblock %}


{% block detail_text %}
<p>
  We judge the products in our database in six categories: climate and energy, ecology, worker rights, conflict minerals, transparency of the company and performance. Each of these categories contains several criteria which we have to analyse during our assessments. One has to discriminate between two different types of criteria:
</p>
<p>
  <ul>
    <li>
      Yes/No-questions asking for example if a product contains a specific toxic substance or if the company analyses and publishes its annual CO2-footprint. With this criteriatype only two outcomes are possible: In the case of the “good” answer the product gets the point, else it doesn’t.
    </li>
    <li>
      Questions on a linear scale asking for example how big the CO2-footprint of the product is or how much e-waste the company recycles. With this kind of criteria we first have to define an upper and lower barrier for instance 20 kg CO2 and 100 kg CO2 for the first criteria example. In this case the product would get the full point if it has a CO2-footprint of 20 kg and less, zero points for 100 kg and more. For values lying between the two barriers we operate on a linear scale meaning that 40 kg CO2 would result in 0.8 points and so on.
    </li>
  </ul>
</p>
<p>
  In cases where we weren’t able to find any suitable information the product gets zero points. From time to time a situation can occur where there is information available but it is contradictory. Then, we allow ourselves to make a sweeping assessment. The same applies to situations where a product performs particularly well concerning a criteria and we assign bonus points.
</p>
<p>
  It’s important to us that our users can understand our assessments in every detail. That’s why there’s a short comment and the link to our source to every single criteria of our product analises. 
</p>
<p>
  It’s important to us that our users can understand our assessments in every detail. That’s why there’s a short comment and the link to our source to every single criteria of our product analises. 
</p>
<p>
  As soon as all 48 criteria of our list have been assessed six category scores are calculated. It’s relevant to know that not all criteria of a category are weighted equally. For instance, the five questions about the presence of certain toxic substances are all weighted a lot less than the criteria asking about the degree of recycling of the company.
</p>
<p>
  The results of all six categories are then merged to our spiderweb product profiles and the total score which can vary between different persons according to their individual preferences.
</p>

{% endblock %}

